/*Tab tooptips */

.tooltip-inner {
    max-width: 275px;
    background-color: #f4f4f4;
    color: black;
    text-align: justify;
    font-size: 13px;
    border: 1px solid #737373;
}

/*avoid transparent*/
.tooltip.in {
    opacity: 1; 
}